*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --color-white: #fff;
  --color-purple-500: #733FC8;
  --color-dark-blue: #19202d;
  --color-grey-500: #48556a;
  --color-black: #121212;
  --color-purple-300: #a775f1;
  --color-grey-200: #cfcfcf;
  --color-purple-50: #ede4ff;
  --color-grey-100: #e7eaee;
  --color-grey-400: #676d7e;
  --color-background: #f6f5f6;
}

@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-semi-condensed-v15-latin-500.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v15-latin-500.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-semi-condensed-v15-latin-600.woff2") format("woff2"), url("../fonts/barlow-semi-condensed-v15-latin-600.ttf") format("truetype");
}
body {
  background: var(--color-background);
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 1rem;
}

.testimonial-grid {
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three" "four" "five";
}

.testimonial-card {
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 40px 60px 50px 0 rgba(72, 85, 106, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.testimonial-card__header {
  display: flex;
  align-items: center;
  gap: 1.06rem;
}
.testimonial-card__author-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}
.testimonial-card__avatar img {
  width: 1.75rem;
  border-radius: 100%;
}
.testimonial-card__author-name {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 110%;
}
.testimonial-card__author-status {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 110%;
}
.testimonial-card__summary {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}
.testimonial-card__quote {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.81rem;
  font-weight: 500;
  line-height: 140%;
}
.testimonial-card:nth-child(1) {
  grid-area: one;
  background: var(--color-purple-500);
  color: var(--color-white);
}
@media (min-width: 20rem) {
  .testimonial-card:nth-child(1) {
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 86%;
  }
}
.testimonial-card:nth-child(1) .testimonial-card__author-status, .testimonial-card:nth-child(1) .testimonial-card__quote {
  color: var(--color-purple-50);
}
.testimonial-card:nth-child(1) .testimonial-card__avatar img {
  box-shadow: 0 0 0 2px var(--color-purple-300);
}
.testimonial-card:nth-child(2) {
  grid-area: two;
  background: var(--color-grey-500);
  color: var(--color-white);
}
.testimonial-card:nth-child(2) .testimonial-card__author-status, .testimonial-card:nth-child(2) .testimonial-card__quote {
  color: var(--color-grey-100);
}
.testimonial-card:nth-child(3) {
  grid-area: three;
  background: var(--color-white);
  color: var(--color-grey-500);
}
.testimonial-card:nth-child(3) .testimonial-card__author-status, .testimonial-card:nth-child(3) .testimonial-card__quote {
  color: var(--color-grey-400);
}
.testimonial-card:nth-child(4) {
  grid-area: four;
  background: var(--color-dark-blue);
  color: var(--color-white);
}
.testimonial-card:nth-child(4) .testimonial-card__summary {
  color: var(--color-grey-200);
}
.testimonial-card:nth-child(4) .testimonial-card__quote {
  color: var(--color-grey-100);
}
.testimonial-card:nth-child(4) .testimonial-card__avatar img {
  box-shadow: 0 0 0 2px var(--color-purple-500);
}
.testimonial-card:nth-child(5) {
  grid-area: five;
  background: var(--color-white);
  color: var(--color-grey-500);
}
.testimonial-card:nth-child(5) .testimonial-card__author-status, .testimonial-card:nth-child(5) .testimonial-card__quote {
  color: var(--color-grey-400);
}

@media (min-width: 40rem) {
  .testimonial-grid {
    grid-template-areas: "one one" "two three" "four four" "five five";
  }
}
@media (min-width: 64rem) {
  .testimonial-grid {
    grid-template-areas: "one one two five" "three four four five";
    row-gap: 1.5rem;
  }
}
